### Basic text commands

#### Get length

In [ ]:
text1 = "Ethics are built right into the ideas and objectives of the United Nations"

In [2]:
# length of the string
len(text1)

74

#### Count words

In [5]:
# how many tokens in the string
token_list = text1.split()   # or text1.split(" ") 
print(len(token_list))
# print all tokens
print(token_list)

13
['Ethics', 'are', 'built', 'right', 'into', 'the', 'ideas', 'and', 'objectives', 'of', 'the', 'United', 'Nations']

#### Long words

In [7]:
# words that have more than 3 letters
list3lett = [w for w in token_list if len(w) > 3]
print(list3lett)

['Ethics', 'built', 'right', 'into', 'ideas', 'objectives', 'United', 'Nations']

#### Capitalized words

In [9]:
cap = [w for w in token_list if w.istitle()]
print(cap)

['Ethics', 'United', 'Nations']

#### Words ends with 's'

In [10]:
s_end = [w for w in token_list if w.endswith('s')]
print(s_end)

['Ethics', 'ideas', 'objectives', 'Nations']

#### Find unique words

In [14]:
# key sensitive
text3 = 'To be or not to be'
key_sen = set([w for w in text3.split()])
print(key_sen)
# ignore captialized character
no_key_sen = set([w.lower() for w in text3.split()])
print(no_key_sen)

{'be', 'not', 'to', 'To', 'or'}
{'be', 'not', 'or', 'to'}

#### Check upper, lower case, capitalized first letter

In [23]:
# check if all characters are upper case
t = 'THAI'
print(t.isupper())
# check if all character are lower case
t = 'thai'
print(t.islower())
# check if the first letter is capitalized but others are lower case
t = 'Thai'
print(t.islower())

True
True
False

#### Check alpha, digit

In [29]:
# check if string contains only letters, no space or digit
s = "this"  # No space & digit in this string
print(s.isalpha())

s = "this is Thai"
print(s.isalpha())

# check if string contains only digits
s = "123456"  # Only digit in this string
print(s.isdigit())

s = "123 456"
print(s.isdigit())

# check if string contains only letter and digits
s = "this2009"  # No space in this string
print(s.isalnum())

s = "this_2009"
print(s.isalnum())

s = "this 2009"
print(s.isalnum())

True
False
True
False
True
False
False

#### Upper, lower, title strings

In [9]:
# make upper, lower, title
s = 'thai dep trai qua'
print(s.upper())
print(s.title())
s = 'Thai dep TRAI quA'
print(s.lower())
print(s.upper())
print(s.title())

THAI DEP TRAI QUA
Thai Dep Trai Qua
thai dep trai qua
THAI DEP TRAI QUA
Thai Dep Trai Qua

#### Split string

In [7]:
# split lines
s = 'thai\ndep\ntrai\nqua'
print(s)
print(s.splitlines())

thai
dep
trai
qua
['thai', 'dep', 'trai', 'qua']

#### Join strings

In [8]:
# join
s1 = ''.join(s.splitlines())
s2 = ' '.join(s.splitlines())
print(s1)
print(s2)

thaideptraiqua
thai dep trai qua

#### Clean using strip, lstrip, rstrip

In [12]:
# strip: remove space and tab in the front AND in the end
s = "   Thai dep trai qua   "
print(s)
print(s.strip() + 'haha')

   Thai dep trai qua
Thai dep trai quahaha

#### Find string using s.find(t), s.rfind(t)

In [19]:
s = "  thai dep trai thai thong minh Thai tai hoa"
# show the first index of 'thai' in the string s, case sensitive, if not found return -1
print(s.find('thai'))
# show the last index of 'thai' (searching from the right side)
print(s.rfind('thai'))
# case sensitive
print(s.find('Thai'))

2
16
32

#### Replace string

In [21]:
s = "this is string example....wow!!! this is really string"
print(s.replace("is", "was"))
print(s.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

#### Split characters in a word/string ***

In [27]:
s = 'thaideptrai'
allchars = list(s)
print(allchars)
# or we can use list comprehensive
allchars = [c for c in s]
print(allchars)
# how about string? we will get also spaces!
s = 'thai dep trai'
print(list(s))

['t', 'h', 'a', 'i', 'd', 'e', 'p', 't', 'r', 'a', 'i']
['t', 'h', 'a', 'i', 'd', 'e', 'p', 't', 'r', 'a', 'i']
['t', 'h', 'a', 'i', ' ', 'd', 'e', 'p', ' ', 't', 'r', 'a', 'i']

#### Handling larger text

In [33]:
# read the first line
with open('example_text.txt') as f:
    l = f.readline()
    print(l)
    # comeback to the very first position
    f.seek(0)
    # read the whole content
    content = f.read()
    print(content)
    # split into separate lines
    all_lines = content.splitlines()
    print(all_lines)
    # this way will return new line character
    f.seek(0)
    a = f.readlines()
    print(a)

thai dep trai qua

thai dep trai qua
thai lai con thong minh nua
thai cham chi lam viec
thai kiem duoc nhieu tien
thai thich di du lich

['thai dep trai qua', 'thai lai con thong minh nua', 'thai cham chi lam viec', 'thai kiem duoc nhieu tien', 'thai thich di du lich']
['thai dep trai qua\n', 'thai lai con thong minh nua\n', 'thai cham chi lam viec\n', 'thai kiem duoc nhieu tien\n', 'thai thich di du lich\n']

### Regular expressions

This is helpful for working with text with special characters, like twitter, where a lot of # or @

In [39]:
# first method based on previous knowledge
tweet = "@nltk Text analysis is awesome! #regex #pandas #python"
ht = [x for x in tweet.split() if '#' in x]
print(ht)

['#regex', '#pandas', '#python']

In [5]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
# split the text into words
text8 = text7.split(' ')
print(text8)
# or just () would do the same job
text8 = text7.split()
print(text8)

['@UN', '@UN_Women', '"Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations"', '#UNSG', '@', 'NY', 'Society', 'for', 'Ethical', 'Culture', 'bit.ly/2guVelr']
['@UN', '@UN_Women', '"Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations"', '#UNSG', '@', 'NY', 'Society', 'for', 'Ethical', 'Culture', 'bit.ly/2guVelr']

<br>

We can use regular expressions to help us with more complex parsing. 

For example `'@[A-Za-z0-9_]+'` will return all words that: 
* start with `'@'` and are followed by at least one: 
* capital letter (`'A-Z'`)
* lowercase letter (`'a-z'`) 
* number (`'0-9'`)
* or underscore (`'_'`)

In [13]:
import re

atlist = [w for w in text8 if re.search('@[A-Za-z0-9]+', w)]
# the plus sign means that the structure inside the square bracket should appear at least once
# the structure inside the bracket means: a capital letter OR a lower case letter OR underscore
print(atlist)

['@UN', '@UN_Women']

__Some popular search patterns__
 * . matches any character except the new line character
 * ^ means start of the string
 * $ end of the string
 * [ ] match one of the character insde the square bracket (see example above)
 * [a-z] match one of the letter from a-z (lower case character)
 * [^abc] match character that is not a or b or c
 * a|b match either a or b, where a and b are string
 * () scoping for operators: Matches whatever regular expression is inside the parentheses, and indicates the start and end of a group; the contents of a group can be retrieved after a match has been performed
 https://docs.python.org/3.4/library/re.html
 * \ escape character for special character like \t \n \b
 * \b matches word boundary: r'\bfoo\b' matches 'foo', 'foo.', '(foo)', 'bar foo baz' but not 'foobar' or 'foo3'
 * \d matches any digit (0-9)
 * \D any non-digit = [^0-9]
 * \s any white space
 * \S any non white space

In [35]:
l = [w for w in text8 if re.search('.', w)]
print(l)
# find all start of string/line. In this case each string is a single word, so start of string is also the same word
l = [w for w in text8 if re.search('^', w)]
print(l)

# find all string start with @
l = [w for w in text8 if re.search('^@', w)]
print(l)

# find all string start with ar
l = [w for w in text8 if re.search('^ar', w)]
print(l)

# find all string start with ar or an
l = [w for w in text8 if re.search('^a[r|n]', w)]
print(l)

# find all string end with s
l = [w for w in text8 if re.search('s$', w)]
print(l)

# find all string end with cs or es
l = [w for w in text8 if re.search('[c|e]s$', w)]
print(l)

text9 = text8.append('dsf23df4')
# find any string which contain digit
l = [w for w in text8 if re.search('\d', w)]
print(l)
# find strings which contain only one digit
l = [w for w in text8 if re.search('^\D*\d\D*$', w)]
print(l)

['@UN', '@UN_Women', '"Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations"', '#UNSG', '@', 'NY', 'Society', 'for', 'Ethical', 'Culture', 'bit.ly/2guVelr', 'dsf23df4']
['@UN', '@UN_Women', '"Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations"', '#UNSG', '@', 'NY', 'Society', 'for', 'Ethical', 'Culture', 'bit.ly/2guVelr', 'dsf23df4']
['@UN', '@UN_Women', '@']
['are']
['are', 'and']
['"Ethics', 'ideals', 'objectives']
['"Ethics', 'objectives']
['bit.ly/2guVelr', 'dsf23df4', 'dsf23df4']
['bit.ly/2guVelr']

In [38]:
s = "alpha.Customer[cus_Y4o9qMEZAugtnW] ..."
m = re.search(r"\[([A-Za-z0-9_]+)\]", s)
print(m)
print(m.group(1))

<_sre.SRE_Match object; span=(14, 34), match='[cus_Y4o9qMEZAugtnW]'>
cus_Y4o9qMEZAugtnW

 * \[ matches a literal [ character
 * ( begins a new group
 * [A-Za-z0-9_] is a character set matching any letter (capital or lower case), digit or underscore
 * + matches the preceding element (the character set) one or more times.
 * ) ends the group
 * \] matches a literal ] character

#### Repetition

 * * match 0 or many times
 * + match 1 or more than 1 times
 * ? match 0 or 1 time
 * {n} match exactly n times
 * {,n} match at most n times
 * {n,} match at least n times
 * {m,n} match at least m times and at most n times

#### Finding specific characters

In [43]:
text12 = "ouagadougou"
print(re.findall(r'[aeiou]', text12))
print(re.findall(r'[^aeiou]', text12))

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']
['g', 'd', 'g']

#### Apply to search for date string

In [50]:
date_str = "23-10-2006\n23/10/2006\n23/10/06\n10/23/2006\n23 Oct 2006\n23 October 2006\nOct 23, 2006\nOctober 23, 2006"

# just day and month
exp = r"\d{2}[-|/]\d{2}"
# day, month and year
print(re.findall(exp, date_str))
# day month year could be 2 digits
exp = r"\d{2}[-|/]\d{2}[-/]\d{2,4}"
print(re.findall(exp, date_str))
# day month could be 1 or 2 digits year could be 2 digits
exp = r"\d{1,2}[-|/]\d{1,2}[-/]\d{2,4}"
print(re.findall(exp, date_str))

['23-10', '23/10', '23/10', '10/23']
['23-10-2006', '23/10/2006', '23/10/06', '10/23/2006']
['23-10-2006', '23/10/2006', '23/10/06', '10/23/2006']

In [71]:
date_str = "23-10-2006\n23/10/2006\n23/10/06\n10/23/2006\n23 Oct 2006\n23 October 2006\nOct 23, 2006\nOctober 23, 2006"

# the parentheses here says: I want to pull out only the stuff which matches the group inside
exp = r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{2,4}'
print(re.findall(exp, date_str))
# the trick to get all text is adding ?:
exp = r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{2,4}'
print(re.findall(exp, date_str))
# how about date with whole month text
exp = r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{2,4}'
print(re.findall(exp, date_str))
print('***************')
# date can be at the beginning or after month
exp = r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{2,4}'
print(re.findall(exp, date_str))

['Oct']
['23 Oct 2006']
['23 Oct 2006', '23 October 2006']
***************
['23 Oct 2006', '23 October 2006', 'Oct 23, 2006', 'October 23, 2006']

### Working with text in pandas***

Consider an example of data frame of text as follows:

In [1]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [2]:
# get length of text of each row
print(df['text'].str.len())

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [3]:
# split the text first and then count number of tokens
# NOTE that str attribute is called twice
print(df['text'].str.split().str.len())

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [4]:
# check if the text contains 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [5]:
# count how many times the digits appear in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [6]:
# get all the digits in each string/row
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [7]:
# find the group of digits indicating time
print(df['text'].str.findall(r'\d?\d:\d\d'))
# or this way
print(df['text'].str.findall(r'\d{1,2}[:]{1}\d{1,2}'))

0            [2:45]
1           [11:30]
2            [7:00]
3           [11:15]
4    [08:10, 09:00]
Name: text, dtype: object
0            [2:45]
1           [11:30]
2            [7:00]
3           [11:15]
4    [08:10, 09:00]
Name: text, dtype: object

In [8]:
# replace the week day by ???
print(df['text'].str.replace(r'\w+day', '???'))

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [9]:
# replace weekdays with 3 letter abbrevations
# about group/groups method: https://docs.python.org/3/howto/regex.html
# simple explanation: first search for string match the pattern r'(\w+day\b)'
# this returns groups. The first element of groups is the matched pattern (weekday)

print(df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3]))
# or this works the same
print(df['text'].str.replace(r'(\w+day\b)', lambda x: x.group(0)[:3]))

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object
0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [12]:
# extract data ***
# df['text'].str.extract(r'\d{1,2}[:]\d{1,2}') # doesn't work, we need to put () to make groups?
df['text'].str.extract(r'(\d{1,2})[:](\d{1,2})')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [23]:
# extractall show all matches found. Extract show only the first match
# get hour, minute into 2 separates columns and another column contain boths
# note the level of the parenthesis ()
print(df['text'].str.extractall(r'((\d{1,2}):(\d{1,2}))'))
# get also am pm info, what is wrong here without the question mark?
# the question mark show unknown number of space? because sometimes am or pm comes without space
print(df['text'].str.extractall(r'((\d{1,2}):(\d{1,2}) ([ap]m))'))
# get also am pm info
print(df['text'].str.extract(r'((\d{1,2}):(\d{1,2}) ?([ap]m))'))
print(df['text'].str.extractall(r'((\d{1,2}):(\d{1,2}) ?([ap]m))'))

             0   1   2
  match
0 0       2:45   2  45
1 0      11:30  11  30
2 0       7:00   7  00
3 0      11:15  11  15
4 0      08:10  08  10
  1      09:00  09  00
                0   1   2   3
  match
1 0      11:30 am  11  30  am
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
          0   1   2   3
0    2:45pm   2  45  pm
1  11:30 am  11  30  am
2    7:00pm   7  00  pm
3  11:15 pm  11  15  pm
4  08:10 am  08  10  am
                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [30]:
# name group using ?P<name> inside the ()
print(df['text'].str.extractall(r'(?P<time>(?P<hour>\d{1,2}):(?P<minute>\d{1,2}) ?(?P<period>[ap]m))'))

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

Regular Expressions

Regular expressions documentation in Python 3
https://docs.python.org/3/library/re.html

Tips and tricks of the trade for cleaning text in Python

https://stanford.edu/~rjweiss/public_html/IRiSS2013/text2/notebooks/cleaningtext.html

https://www.analyticsvidhya.com/blog/2014/11/text-data-cleaning-steps-python/

http://ieva.rocks/2016/08/07/cleaning-text-for-nlp/

https://chrisalbon.com/python/cleaning_text.html